body {
    background-color: #000;
}

.center {
    text-align: center;
    color: whitesmoke;
    margin-top: 60px;
    font-size: 80px;
    font-family: sans-serif;
}

.animated-text {
    position: relative;
    display: inline-block;
    margin: 70px 400px;
    font-size: 80px;
    background: linear-gradient(to right, #ff8a00, #da1b60, #ff0084);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: backgroundAnimation 10s linear infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}